@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height:100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fAfAfA;
}
h1{
    text-align: center;
    padding: 50px;
    color: #fAfAfA;
    text-transform: uppercase;
    font-size: 60px;
}
form{
    width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 1em rgb(194, 194, 194);
    padding: 20px;
    border-radius: 10px;
    background-color: #fAfAfA;
}
.labelInput label{
    width: 200px;
    font-weight: bold;
    font-size: 15px;
}
.labelInput input{
    width: 200px;
    height: 25px;
    padding: 2px;
}
select{
    width: 200px;
    height: 25px;
    padding: 2px;
}
.labelInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}